In [1]:
import pandas as pd

In [2]:
HR_Analytics= pd.read_csv('HR_Analytics.csv')
HR_Analytics.head()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0

In [3]:
HR_Analytics.shape

(1480, 38)

In [4]:
HR_Analytics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmpID                     1480 non-null   object
 1   Age                       1480 non-null   int64
 2   AgeGroup                  1480 non-null   object
 3   Attrition                 1480 non-null   object
 4   BusinessTravel            1480 non-null   object
 5   DailyRate                 1480 non-null   int64
 6   Department                1480 non-null   object
 7   DistanceFromHome          1480 non-null   int64
 8   Education                 1480 non-null   int64
 9   EducationField            1480 non-null   object
 10  EmployeeCount             1480 non-null   int64
 11  EmployeeNumber            1480 non-null   int64
 12  EnvironmentSatisfaction   1480 non-null   int64
 13  Gender                    1480 non-null   object
 14  HourlyRate                1480 non-null   int64
 15  JobInvolvement            1480 non-null   int64
 16  JobLevel                  1480 non-null   int64
 17  JobRole                   1480 non-null   object
 18  JobSatisfaction           1480 non-null   int64
 19  MaritalStatus             1480 non-null   object
 20  MonthlyIncome             1480 non-null   int64
 21  SalarySlab                1480 non-null   object
 22  MonthlyRate               1480 non-null   int64
 23  NumCompaniesWorked        1480 non-null   int64
 24  Over18                    1480 non-null   object
 25  OverTime                  1480 non-null   object
 26  PercentSalaryHike         1480 non-null   int64
 27  PerformanceRating         1480 non-null   int64
 28  RelationshipSatisfaction  1480 non-null   int64
 29  StandardHours             1480 non-null   int64
 30  StockOptionLevel          1480 non-null   int64
 31  TotalWorkingYears         1480 non-null   int64
 32  TrainingTimesLastYear     1480 non-null   int64
 33  WorkLifeBalance           1480 non-null   int64
 34  YearsAtCompany            1480 non-null   int64
 35  YearsInCurrentRole        1480 non-null   int64
 36  YearsSinceLastPromotion   1480 non-null   int64
 37  YearsWithCurrManager      1423 non-null   float64
dtypes: float64(1), int64(25), object(12)
memory usage: 439.5+ KB

In [5]:
HR_Analytics.isnull().sum()

EmpID                        0
Age                          0
AgeGroup                     0
Attrition                    0
BusinessTravel               0
DailyRate                    0
Department                   0
DistanceFromHome             0
Education                    0
EducationField               0
EmployeeCount                0
EmployeeNumber               0
EnvironmentSatisfaction      0
Gender                       0
HourlyRate                   0
JobInvolvement               0
JobLevel                     0
JobRole                      0
JobSatisfaction              0
MaritalStatus                0
MonthlyIncome                0
SalarySlab                   0
MonthlyRate                  0
NumCompaniesWorked           0
Over18                       0
OverTime                     0
PercentSalaryHike            0
PerformanceRating            0
RelationshipSatisfaction     0
StandardHours                0
StockOptionLevel             0
TotalWorkingYears            0
TrainingTimesLastYear        0
WorkLifeBalance              0
YearsAtCompany               0
YearsInCurrentRole           0
YearsSinceLastPromotion      0
YearsWithCurrManager        57
dtype: int64

In [6]:
HR_Analytics['YearsWithCurrManager']=HR_Analytics['YearsWithCurrManager'].fillna('unknown')

In [7]:
HR_Analytics.isnull().sum()

EmpID                       0
Age                         0
AgeGroup                    0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
SalarySlab                  0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [8]:
HR_Analytics.duplicated().sum()

7

In [9]:
HR_Analytics[HR_Analytics.duplicated(keep=False)]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
210,RM1468,27,26-35,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,...,2,80,1,6,0,3,6,2,0,3.0
211,RM1468,27,26-35,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,...,2,80,1,6,0,3,6,2,0,3.0
327,RM1461,29,26-35,No,Travel_Rarely,468,Research & Development,28,4,Medical,...,2,80,0,5,3,1,5,4,0,4.0
328,RM1461,29,26-35,No,Travel_Rarely,468,Research & Development,28,4,Medical,...,2,80,0,5,3,1,5,4,0,4.0
457,RM1464,31,26-35,No,Non-Travel,325,Research & Development,5,3,Medical,...,2,80,0,10,2,3,9,4,1,7.0
458,RM1464,31,26-35,No,Non-Travel,325,Research & Development,5,3,Medical,...,2,80,0,10,2,3,9,4,1,7.0
654,RM1470,34,26-35,No,TravelRarely,628,Research & Development,8,3,Medical,...,1,80,0,6,3,4,4,3,1,2.0
655,RM1470,34,26-35,No,TravelRarely,628,Research & Development,8,3,Medical,...,1,80,0,6,3,4,4,3,1,2.0
952,RM1463,39,36-45,No,Travel_Rarely,722,Sales,24,1,Marketing,...,1,80,1,21,2,2,20,9,9,6.0
954,RM1463,39,36-45,No,Travel_Rarely,722,Sales,24,1,Marketing,...,1,80,1,21,2,2,20,9,9,6.0
1304,RM1469,49,46-55,No,Travel_Frequently,1023,Sales,2,3,Medical,...,4,80,0,17,3,2,9,6,0,8.0
1305,RM1469,49,46-55,No,Travel_Frequently,1023,Sales,2,3,Medical,...,4,80,0,17,3,2,9,6,0,8.0
1335,RM1462,50,46-55,Yes,Travel_Rarely,410,Sales,28,3,Marketing,...,2,80,1,20,3,3,3,2,2,0.0
1336,RM1462,50,46-55,Yes,Travel_Rarely,410,Sales,28,3,Marketing,...,2,80,1,20,3,3,3,2,2,0.0

In [10]:
HR_Analytics= HR_Analytics.drop_duplicates()

In [11]:
HR_Analytics.duplicated().sum()

0

In [12]:
HR_Analytics.shape

(1473, 38)

In [13]:
HR_Analytics.dtypes == object

EmpID                        True
Age                         False
AgeGroup                     True
Attrition                    True
BusinessTravel               True
DailyRate                   False
Department                   True
DistanceFromHome            False
Education                   False
EducationField               True
EmployeeCount               False
EmployeeNumber              False
EnvironmentSatisfaction     False
Gender                       True
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                      True
JobSatisfaction             False
MaritalStatus                True
MonthlyIncome               False
SalarySlab                   True
MonthlyRate                 False
NumCompaniesWorked          False
Over18                       True
OverTime                     True
PercentSalaryHike           False
PerformanceRating           False
RelationshipSatisfaction    False
StandardHours               False
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager         True
dtype: bool

In [14]:
HR_Analytics.drop(columns=['Over18', 'SalarySlab', 'EmployeeCount', 'StandardHours', 'EmployeeNumber'], inplace= True)

In [15]:
HR_Analytics.columns

Index(['EmpID', 'Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [16]:
HR_Analytics.shape

(1473, 33)

In [17]:
HR_Analytics.columns

Index(['EmpID', 'Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [18]:
HR_Analytics['Education'].unique()

array([3, 2, 1, 4, 5], dtype=int64)

In [19]:
education_map = {
    1: 'Below College',
    2: 'College',
    3: 'Bachelor',
    4: 'Master',
    5: 'Doctor'
}

In [20]:
HR_Analytics['Education_Level'] = HR_Analytics['Education'].map(education_map)

In [21]:
HR_Analytics['Education_Level'].unique()

array(['Bachelor', 'College', 'Below College', 'Master', 'Doctor'],
      dtype=object)

In [22]:
HR_Analytics.rename(columns={'EnvironmentSatisfaction': 'EnvSatisfaction'}, inplace=True)

In [23]:
HR_Analytics['JobLevel'].unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [24]:
job_level_map = {
    1: 'Junior',
    2: 'Intermediate',
    3: 'Senior',
    4: 'Manager',
    5: 'Senior Executive'
}

In [25]:
HR_Analytics['JobLevelLabel'] = HR_Analytics['JobLevel'].map(job_level_map)

In [26]:
HR_Analytics['JobLevelLabel'].unique()

array(['Junior', 'Intermediate', 'Senior', 'Manager', 'Senior Executive'],
      dtype=object)

In [27]:
HR_Analytics['JobInvolvement'].unique()

array([3, 2, 1, 4], dtype=int64)

In [28]:
job_involve_map = {
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Very High'
}

In [29]:
HR_Analytics['JobInvolveLabel'] = HR_Analytics['JobInvolvement'].map(job_level_map)

In [30]:
HR_Analytics['JobInvolveLabel'].unique()

array(['Senior', 'Intermediate', 'Junior', 'Manager'], dtype=object)

In [31]:
HR_Analytics['JobSatisfaction'].unique()

array([3, 2, 4, 1], dtype=int64)

In [32]:
job_satisfaction_map = {
    1: 'Poor',
    2: 'Fair',
    3: 'Good',
    4: 'Very Good'
}

In [33]:
HR_Analytics.rename(columns={'JobSatisfaction': 'JobSatisfy_Level'}, inplace=True)
HR_Analytics['JobSatisfy_Label'] = HR_Analytics['JobSatisfy_Level'].map(job_satisfaction_map)

In [34]:
HR_Analytics['JobSatisfy_Label'].unique()

array(['Good', 'Fair', 'Very Good', 'Poor'], dtype=object)

In [35]:
HR_Analytics['PerformanceRating'].unique()

array([3, 4], dtype=int64)

In [36]:
performance_score_map = {
    3: 'Good',
    4: 'Excellent'
}

In [37]:
HR_Analytics.rename(columns={'PerformanceRating': 'PerformanceScore'}, inplace=True)

In [38]:
HR_Analytics['PerformanceLabel'] = HR_Analytics['PerformanceScore'].map(performance_score_map)

In [39]:
HR_Analytics['PerformanceLabel'].unique()

array(['Good', 'Excellent'], dtype=object)

In [40]:
HR_Analytics['StockOptionLevel'].unique()

array([0, 2, 1, 3], dtype=int64)

In [41]:
stock_option_map = {
    0: 'No Stock Options',
    1: 'Low Stock Options',
    2: 'Medium Stock Options',
    3: 'High Stock Options'
}

HR_Analytics['StockOptionLevel_Description'] = HR_Analytics['StockOptionLevel'].map(stock_option_map)

In [42]:
HR_Analytics['StockOptionLevel_Description'].unique()

array(['No Stock Options', 'Medium Stock Options', 'Low Stock Options',
       'High Stock Options'], dtype=object)

In [43]:
HR_Analytics['TrainingTimesLastYear'].unique()

array([2, 3, 0, 5, 4, 6, 1], dtype=int64)

In [44]:
training_map = {
 0: 'No Training',
    1: 'Few',
    2: 'Moderate',
    3: 'Good',
    4: 'Very Good',
    5: 'Excellent',
    6: 'Exceptional'
}
HR_Analytics['TrainingsLastYear_Label'] = HR_Analytics['TrainingTimesLastYear'].map(training_map)

In [45]:
HR_Analytics['TrainingsLastYear_Label'].unique()

array(['Moderate', 'Good', 'No Training', 'Excellent', 'Very Good',
       'Exceptional', 'Few'], dtype=object)

In [46]:
HR_Analytics['RelationshipSatisfaction'].unique()

array([3, 1, 4, 2], dtype=int64)

In [47]:
relation_map = {
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Very High'
}

In [48]:
HR_Analytics['RelationshipSatisfaction_Label'] = HR_Analytics['RelationshipSatisfaction'].map(training_map)

In [49]:
HR_Analytics['RelationshipSatisfaction_Label'].unique()

array(['Good', 'Few', 'Very Good', 'Moderate'], dtype=object)

In [50]:
HR_Analytics['WorkLifeBalance'].unique()

array([3, 4, 1, 2], dtype=int64)

In [51]:
work_life_map = {
    1: 'Poor',
    2: 'Fair',
    3: 'Good',
    4: 'Excellent'
}

In [52]:
HR_Analytics['WorkLifeLabel'] = HR_Analytics['WorkLifeBalance'].map(work_life_map)

In [53]:
HR_Analytics['WorkLifeLabel'].unique()

array(['Good', 'Excellent', 'Poor', 'Fair'], dtype=object)

In [54]:
HR_Analytics.columns

Index(['EmpID', 'Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EnvSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfy_Level', 'MaritalStatus', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceScore', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Education_Level', 'JobLevelLabel',
       'JobInvolveLabel', 'JobSatisfy_Label', 'PerformanceLabel',
       'StockOptionLevel_Description', 'TrainingsLastYear_Label',
       'RelationshipSatisfaction_Label', 'WorkLifeLabel'],
      dtype='object')

In [55]:
HR_Analytics.to_csv("cleaned_HR.csv", index=False)

In [56]:
#HR_Analytics

In [57]:
HR_Analytics.drop(columns=['Education', 'JobLevel', 'JobInvolvement', 'JobSatisfy_Level', 'PerformanceScore', 'StockOptionLevel','TrainingTimesLastYear', 'RelationshipSatisfaction', 'WorkLifeBalance'], inplace= True)

In [58]:
HR_Analytics.columns

Index(['EmpID', 'Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'EducationField', 'EnvSatisfaction',
       'Gender', 'HourlyRate', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'TotalWorkingYears', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Education_Level',
       'JobLevelLabel', 'JobInvolveLabel', 'JobSatisfy_Label',
       'PerformanceLabel', 'StockOptionLevel_Description',
       'TrainingsLastYear_Label', 'RelationshipSatisfaction_Label',
       'WorkLifeLabel'],
      dtype='object')

In [61]:
HR_Analytics.to_csv("cleaned_HR.csv", index=False)